
/* =========================================================
   PROJECT GRID
   ========================================================= */

.featured-projects-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--space-5);
}

/* =========================================================
   PROJECT RESPONSIVE
   ========================================================= */

@media (--viewport-desktop) {
  .featured-projects-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (--viewport-content) {
  .featured-projects-grid {
    grid-template-columns: 1fr;
  }
}
